@font-face {
  font-family: 'Space Grotesk';
  font-weight: 500;
  src: url('../fonts/SpaceGrotesk-Medium.woff2') format(woff2),
    url('../fonts/SpaceGrotesk-Medium.woff') format(woff);
}

@font-face {
  font-family: 'Space Grotesk';
  font-weight: 700;
  src: url('../fonts/SpaceGrotesk-Bold.woff2') format(woff2),
    url('../fonts/SpaceGrotesk-Bold.woff') format(woff);
}

:root {
  --ff-main: 'Space Grotesk';

  --fs-medium: 24px;
  --fs-large: 32px;
  --fs-xlarge: 40px;

  --fs-body: 16px;

  --clr-primary-100: #4ee1a0;
  --clr-primary-filter: brightness(0) saturate(100%) invert(100%) sepia(28%)
    saturate(4726%) hue-rotate(75deg) brightness(96%) contrast(80%);

  --clr-netural-100: #ffffff;
  --clr-netural-200: #d9d9d9;
  --clr-netural-300: #242424;
  --clr-netural-400: #151515;

  --max-width: 69.375rem;
  --padding: 1.2rem;
  --width: min(var(--max-width), 100% - (var(--padding) * 2));
}

/* Reset Style CSS */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

input,
select {
  vertical-align: middle;
}

li {
  list-style: none;
}

/* Generic Styles */

body {
  font-family: var(--ff-main);

  background-color: var(--clr-netural-400);
  color: var(--clr-netural-100);
}

.heading-xl {
  font-size: var(--fs-xlarge);
  font-weight: 700;

  line-height: 40px;
  letter-spacing: -1.14px;
}

.heading-l {
  font-size: var(--fs-large);
  font-weight: 700;

  line-height: 40px;
  letter-spacing: -1px;
}

.heading-m {
  font-size: var(--fs-medium);
  font-weight: 700;

  line-height: 32px;
}

.body-medium {
  font-size: var(--fs-body);
  font-weight: 500;

  line-height: 26px;
  color: var(--clr-netural-200);
}

.btn {
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;

  text-transform: uppercase;

  border: none;
  border-bottom: 2px solid var(--clr-primary-100);
  padding-bottom: 5px;

  color: var(--clr-netural-100);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  color: var(--clr-primary-100);
}

.nav-link img {
  width: 19px;
}

.nav-link img:hover {
  filter: var(--clr-primary-filter);
}

@media screen and (min-width: 710px) {
  .nav-link img {
    width: 24px;
  }
}

/* Header CSS */

header {
  width: 154px;
  margin-inline: auto;

  text-align: center;

  padding-block: 2rem;
}

.navbar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.navbar-brand {
  padding-block-end: 20px;

  font-size: 24px;
  font-weight: 700;

  line-height: 32px;
  letter-spacing: -0.33px;
}

.navbar-container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 710px) {
  header {
    width: 708.5px;
  }

  .navbar {
    width: 192.5px;
  }

  .navbar-brand {
    font-size: 32px;
    font-weight: 700;

    letter-spacing: -0.44px;
  }
}

@media screen and (min-width: 1100px) {
  header {
    width: 1110px;
  }
}

/* Main Section */

.heading {
  height: 450px;
  width: 708px;
  margin-inline: auto;

  display: flex;
  flex-direction: row-reverse;

  align-items: center;
  position: relative;
}

.header-img {
  width: 322px;
  height: 600px;

  position: absolute;
  top: -26%;
  right: -4.3%;

  z-index: -1;
}

.header-content {
  width: 445px;

  position: absolute;
  top: 20px;
  left: 0;
}

.header-content p {
  padding-block: 60px 40px;
}

@media screen and (max-width: 700px) {
  .header-img {
    position: absolute;

    top: -27%;
    left: 26.5%;

    z-index: -1;

    width: 174px;
    height: 383px;
  }

  .heading {
    position: relative;
  }

  .header-content {
    padding-block-start: 17rem;

    width: 343px;
    margin-inline: auto;
    text-align: center;
  }

  .header-content p {
    padding-block: 1.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .heading {
    width: 1110px;
    height: 570px;
  }
  .header-img {
    width: 445px;
    height: 720px;
    right: 0;
  }

  .header-content {
    padding-block-start: 4rem;
  }
}

/* Experiance */
.experiance {
  padding-block-start: 5rem;
}

.experiance-container {
  border-top: 1px solid var(--clr-netural-200);
  border-bottom: 1px solid var(--clr-netural-200);

  width: 345px;
  margin-inline: auto;

  padding-block: 40px;

  display: grid;
  grid-template-columns: 345px;
  grid-template-rows: repeat(6, 67px);
  row-gap: 24px;

  text-align: center;
}

@media screen and (min-width: 710px) {
  .experiance-container {
    border-bottom: none;

    width: 708px;

    grid-template-columns: repeat(2, 345px);
    grid-template-rows: repeat(3, 98px);

    text-align: left;
    column-gap: 13px;

    padding-block: 4rem 1rem;
  }
}

@media screen and (min-width: 1100px) {
  .experiance-container {
    grid-template-columns: repeat(3, 345px);
    grid-template-rows: repeat(2, 98px);
    column-gap: 35px;

    width: 1110px;
    margin-inline: auto;
  }
}

/* Projects */
.projects {
  padding-block: 5rem;
}

.projects-header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  width: 343px;
  margin-inline: auto;

  padding-block: 1rem 3rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 343px;
  grid-template-rows: repeat(6, 398px);
  row-gap: 30px;

  width: 343px;
  margin-inline: auto;
}

.img-buttons {
  display: none;
}

.project-img {
  width: 343px;
}

.project .heading-m {
  text-transform: uppercase;
  padding-top: 20px;
}

.project .body-medium {
  display: flex;
  flex-direction: row;

  row-gap: 7px;
  column-gap: 12px;
  padding-top: 7px;
  padding-bottom: 20px;

  text-transform: uppercase;
}

.btn-section {
  width: 271px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 710px) {
  .projects-header {
    width: 706px;
  }

  .projects-container {
    width: 706px;

    grid-template-columns: repeat(2, 342px);
    grid-template-rows: repeat(3, 398px);

    column-gap: 22px;
    row-gap: 60px;
  }
}

@media screen and (min-width: 1100px) {
  .projects-header {
    width: 1110px;
  }

  .project-img {
    width: 540px;
  }

  .projects-container {
    width: 1110px;
    margin-inline: auto;

    grid-template-columns: repeat(2, 540px);
    grid-template-rows: repeat(3, 487px);
  }

  .img-container {
    position: relative;
    width: 540px;
    height: 400px;
  }

  .img-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;

    transition: all 0.3s ease-in;
  }

  .img-container:hover::before {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .img-container:hover .img-buttons {
    opacity: 1;
  }

  .img-buttons {
    display: flex;
    flex-direction: column;
    gap: 48px;

    align-items: center;
    justify-content: center;

    position: absolute;
    left: 217px;
    bottom: 150px;

    opacity: 0;
  }

  .btn-section {
    display: none;
  }
}

/* Footer */
footer {
  /* height: 834px; */
  background-color: var(--clr-netural-300);

  padding-block-end: 3rem;
}

.footer-container {
  width: 343px;
  margin-inline: auto;

  display: flex;
  flex-direction: column;

  row-gap: 50px;

  padding-block: 4rem 6rem;

  border-bottom: 1px solid var(--clr-netural-200);
}

.footer-body {
  text-align: center;
}

.footer-body p {
  color: var(--clr-netural-200);

  padding-top: 20px;
}

.footer-form {
  text-align: right;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-control {
  background-color: transparent;
  border: none;

  width: 100%;

  border-bottom: 1px solid var(--clr-netural-200);
  padding-bottom: 16px;

  outline: none;

  margin-bottom: 32px;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: -0.22px;
  font-weight: 500;
}

.form-message {
  background-color: transparent;
  border: none;

  width: 100%;
  height: 107px;

  border-bottom: 1px solid var(--clr-netural-200);

  outline: none;
  margin-bottom: 32px;

  margin-bottom: 32px;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: -0.22px;
  font-weight: 500;
}

.form-control::placeholder,
.form-message::placeholder {
  text-transform: uppercase;
  color: var(--clr-netural-200);
}

.footer-navbar {
  width: 154px;
  margin-inline: auto;

  padding-top: 2.5rem;
  text-align: center;
}

.form-control:active,
.form-control:focus,
.form-message:active,
.form-message:focus {
  border-bottom: 1px solid var(--clr-primary-100);

  color: var(--clr-netural-100);
}

@media screen and (min-width: 710px) {
  .footer-container {
    width: 445px;

    border-bottom: none;
  }

  .footer-navbar {
    width: 708.5px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding-top: 30px;
    border-top: 1px solid var(--clr-netural-200);
  }
}

@media screen and (min-width: 110px) {
  .footer-container {
    width: 1110px;

    display: grid;
    grid-template-columns: repeat(2, 445px);

    column-gap: 220px;
  }

  .footer-body {
    text-align: left;
  }

  .footer-navbar {
    width: 1110px;
  }
}
