@font-face {
  font-family: 'Space Grotesk';
  font-weight: 500;
  src: url('../fonts/SpaceGrotesk-Medium.woff2') format(woff2),
    url('../fonts/SpaceGrotesk-Medium.woff') format(woff);
}

@font-face {
  font-family: 'Space Grotesk';
  font-weight: 700;
  src: url('../fonts/SpaceGrotesk-Bold.woff2') format(woff2),
    url('../fonts/SpaceGrotesk-Bold.woff') format(woff);
}

:root {
  --ff-main: 'Space Grotesk';

  --fs-medium: 24px;
  --fs-large: 48px;
  --fs-xlarge: 88px;

  --fs-body: 18px;

  --clr-primary-100: #4ee1a0;

  --clr-netural-100: #ffffff;
  --clr-netural-200: #d9d9d9;
  --clr-netural-300: #242424;
  --clr-netural-400: #151515;
}

/* Reset Style CSS */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

li {
  list-style: none;
}

/* Generic Styles */

body {
  font-family: var(--ff-main);

  background-color: var(--clr-netural-400);
  color: var(--clr-netural-100);
}

.heading-xl {
  font-size: var(--fs-xlarge);
  font-weight: 700;

  line-height: 88px;
  letter-spacing: -2.5px;
}

.heading-l {
  font-size: var(--fs-large);
  font-weight: 700;

  line-height: 56px;
  letter-spacing: -1.5px;
}

.heading-m {
  font-size: var(--fs-medium);
  font-weight: 700;

  line-height: 32px;
}

.body-medium {
  font-size: var(--fs-body);
  font-weight: 500;

  line-height: 28px;
}

.btn {
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;

  text-transform: uppercase;

  border: none;
  border-bottom: 2px solid var(--clr-primary-100);
  padding-bottom: 5px;

  color: var(--clr-netural-100);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  color: var(--clr-primary-100);
}

/* Header CSS */

header {
  height: 730px;

  padding-block-end: 3rem;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 1110px;
  margin-inline: auto;

  padding-block: 2rem;
}

.navbar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: 193px;
  padding-right: 1.5rem;
}

.navbar-brand {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.44px;
}

.nav-link:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(35%) saturate(4438%)
    hue-rotate(66deg) brightness(125%) contrast(75%);
}

/* Heading CSS */
.heading {
  width: 1110px;
  margin-inline: auto;

  display: flex;
  flex-direction: row;

  position: relative;
}

.header-content {
  width: 706px;

  padding-block-start: 5rem;
}

.header-content p {
  width: 445px;

  padding-block: 3rem 4rem;
}

.header-img {
  content: url('../img/image-profile-desktop.webp');
  width: 445px;
  height: 720px;

  position: absolute;
  top: -20%;
  right: 0;

  z-index: -4;
}

/* Experiance CSS */

.experiance {
  width: 1110px;
  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-block-start: 3rem;
  border-top: 1px solid var(--clr-netural-100);
}
